RewriteEngine On

RewriteRule ^css/global-([0-9]+)\.css$ ./css/global.css [QSA,L]
RewriteRule ^js/global-([0-9]+)\.js$ ./js/global.js [QSA,L]

RewriteRule ^modules/([a-z\.-]+)/([a-z0-9]+)-([0-9]+)\.js$ ./modules/packager.php?package=$1&script=$2 [QSA,L]
RewriteRule ^modules/([a-z\.-]+)/([a-z0-9]+)-([0-9]+)\.css$ ./modules/$1/$2.css [QSA,L]